#Header {
  padding: 3pc 0;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header img {
  width: 8pc;
}

.header h1 {
  font-size: 2pc;
  font-weight: 100;
}

.header button {
  padding: 20px 60px;
  background: red;
  border-radius: 1pc;
  color: wheat;
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 4pc;
  font-size: 25px;
}

a {
  
  color: rgb(103, 103, 100);
}


.icon:hover {
  transform: scale(1.1); 
}

.icon {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .nav-link {
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #007bff; 
    border-bottom: solid 1px #000;
  }

  
  